* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
 overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #292323;
  background-size: cover;
  background-position: center;


}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 20px;
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(1px);
  box-shadow: 9px 10px 15px;


}

.editButton {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blanchedalmond;
  opacity: 80%;
}
.editButton:hover { 
  opacity: 100%;


}

.svgedit, .svgsave {
  fill: white;
}

.goalName {
  margin-top: 5px;
  color: #ffffff;
  font-family: Verdana, Tahoma, sans-serif;
  position: absolute;
  bottom: 120px;
  left: 100px;
 overflow: hidden;
  max-width: 50%;
  max-height: 35%;

  word-wrap: normal;
  overflow-wrap: normal;
  white-space: normal;
  text-align: center;

}

.hourglass {
  position: absolute;
  fill: rgb(255, 255, 255);
  bottom: -5px;
  left: 125px;
}

.enddate {
  margin-top: 100px;
  color: blue;
}

.timeLeft {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
}

.progressbarback {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  height: 20px;
  border-radius: 20px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.progressBar {
  background-color: #ffdfd1;
  height: 18.5px;
  border-radius: 20px;
  margin-top: 0.5px;
}

.inputGoalname {
 font-family:  monospace;
  width: 200px;
  height: 40px;
  font-size: large;
  margin-top: 20px;
border: none;
border-bottom: 2px solid black;
  background: none;
  color: #ffdfd1;
  outline: none;

  border: none;
            outline: none;
            border-bottom: 2px solid transparent;
            background-image: linear-gradient(to right, rgb(2, 255, 116), rgb(87, 255, 154), rgb(0, 217, 255), rgb(0, 242, 255), blue, indigo, violet);
            background-size: 200% 2px;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transition: background-position 0.5s ease-in-out;
}
.inputGoalname:focus,.inputGoaldate:focus {
  background-position: 100% 100%;
}


.inputGoaldate {
  font-size: larger;
  margin-top: 40px;
  position: absolute;
  left: 102px;
  background-color: transparent;
  border-radius: 6px;
  border:none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  border-bottom: 2px solid transparent;
  background-image: linear-gradient(to right, rgb(2, 255, 116), rgb(87, 255, 154), rgb(0, 217, 255), rgb(0, 242, 255), blue, indigo, violet);
  background-size: 200% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-position 0.5s ease-in-out;
}

.inputGoaldate::-webkit-calendar-picker-indicator {
  display: none;
}

.enddate {
  color: #ffdfd1;
  position: absolute;
  left: 180px;
  bottom: 50px;
}

.span {
  color: #faf5f2;
  margin-top: -20px;
  position: absolute;
  left: 80px;
  bottom: 50px;
}

.customdiv{
  color: rgb(255, 229, 221);
 margin-top: 5px;
}
.author{
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 30px;
  right: 50px;
  text-decoration: none;
  font-size: larger;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif ;
}
.author:hover{
  color: rgb(255, 255, 255);
fill: white;

}
.author svg{
  position: absolute;
  bottom: -2px;
  left: -28px;
}

@media(max-width:768px){
  .container{
   
    width: 260px;
    height: 200px;
   
    }

    .goalName{
      margin-top: 5px;
      color: #ffffff;
      font-family: Verdana, Tahoma, sans-serif;
      position: absolute;
      bottom: 110px;
      left: 65px;
     overflow: hidden;
      max-width: 50%;
      max-height: 35%;
     font-size: medium;
      word-wrap: normal;
      overflow-wrap: normal;
      white-space: normal;
      text-align: center;

    }
    .customdiv{
      font-size: small;
    }

    .editButton{
      position: absolute;
      top: 20px;
      right: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: blanchedalmond;
      opacity: 80%;
      transform: scale(0.8);
    }
   

    
    .editButton:hover { 
      opacity: 100%;
    
    }

    .hourglass{
      position: absolute;
      fill: rgb(255, 255, 255);
      bottom: -7px;
      left: 70px;
    }
    
    .progressbarback {
    
      width: 80%;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.5);
      height: 20px;
      border-radius: 20px;
      bottom: 30px;
      left: 0;
      right: 0;
    }
    
    .progressBar {
      background-color: #ffdfd1;
      height: 18.5px;
      border-radius: 20px;
      margin-top: 0.5px;
    }
    
    .timeLeft {
      color: rgb(255, 255, 255);
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
    }
   
    .inputGoalname{
      margin-top: 30px;
    }
    .inputGoaldate{
 left: 30px;
 margin-top: 30px;
    }
   .span{
    bottom: 20px;
    left: 18px;
   }
     .enddate{
      bottom: 18px;
      left: 110px;
     }
     .author{
      color: rgb(0, 0, 0);
      position: absolute;
      bottom: 30px;
      right: 100px;
      text-decoration: none;
      font-size: larger;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif ;
      display: none;
    }
    .author:hover{
      color: rgb(255, 255, 255);
    fill: white;
    
    }
    .author svg{
      position: absolute;
      bottom: -2px;
      left: -28px;
    }
    }




/* @media (max-width: 600px) {
  .author{
      display: none;
  }
  .container{
  
     
          transform: scale(0.7)
  }
}
@media (max-width: 400px){
  .container{ transform: scale(0.5);
  }
}
@media(max-width:300px){
  .container{transform: scale(0.4);}
} */

